/build_local/
/build_production/

/vendor/
/node_modules/

/source/js/
/source/css/
/source/fonts/
/source/mix-manifest.json

/source/images/vendor/blueimp-gallery/video-play.svg
/source/images/vendor/blueimp-gallery/play-pause.svg
/source/images/vendor/blueimp-gallery/error.svg
/source/images/.DS_Store
