@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a, img {
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.copy {
    p {
        @apply mb-4 text-lg;
    }
}
