a {
    &:hover,
    &:active,
    &:focus {
        color: #C0A062 !important;
    }
    &:link,
    &:visited {
        color: #000000;
    }
    &.jeff-no-hover {
        &:hover,
        &:active,
        &:focus {
            color: #000000 !important;
        }
    }
}